Repository Muhammad19944/fsd-yes-we-can: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{css}": "stylelint --fix",
  "*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{vue}": ["eslint --fix", "prettier --write"],
  "*.{md,json}": "prettier --write"
}

test second commit
  src/features/notifications/ui/dropdown/index.ts
Due: eslint --fix, prettier --write

test second commit
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
Due: none

test commit
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
Due: none

test commit
  .lintstagedrc
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
Due: none

asd
  package.json
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
Due: prettier --write

test
  .eslintrc.cjs
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
  src/shared/ui/icons/ClipboardIcon.vue
  src/shared/ui/icons/index.ts
Due: eslint --fix, prettier --write

test
  .lintstagedrc
Due: none

test
  .husky/pre-commit
Due: none

feat(app): переопределение цветов primevue
  package-lock.json
  package.json
  src/app/index.ts
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
  src/shared/plugins/primevue.ts
  src/shared/ui/icons/NotificationIcon.vue
  src/shared/ui/icons/index.ts
  src/widgets/header/TheHeader.vue
  yarn.lock
Due: eslint --fix, prettier --write

feat: добавлены компоненты badge
  src/features/notifications/ui/dropdown/NotificationDropdown.vue
  src/shared/types/index.ts
  src/shared/types/ui.ts
  src/shared/ui/badge/BadgeOverlay.vue
  src/shared/ui/badge/BaseBadge.vue
  src/shared/ui/badge/index.ts
Due: eslint --fix, prettier --write

feat: добавлен компонент avatar | avatar-group
  src/features/user-dropdown/index.ts
  src/features/user-dropdown/ui/UserDropdown.vue
  src/features/user-dropdown/ui/index.ts
  src/shared/types/ui.ts
  src/shared/ui/avatar/AvatarGroup.vue
  src/shared/ui/avatar/BaseAvatar.vue
  src/shared/ui/avatar/index.ts
  src/shared/ui/avatar/types.ts
  src/shared/ui/badge/BadgeOverlay.vue
  src/shared/ui/badge/BaseBadge.vue
  src/shared/ui/badge/index.ts
  src/shared/ui/badge/types.ts
  src/widgets/header/TheHeader.vue
Due: eslint --fix, prettier --write

feat: добавлен компонент avatar | avatar-group
  src/features/user-dropdown/ui/UserDropdown.vue
Due: none

feat: добавлен компонент jobstoolbar
  src/app/layouts/AuthLayout.vue
  src/app/layouts/EmptyLayout.vue
  src/app/layouts/MainLayout.vue
  src/app/layouts/index.ts
  src/app/layouts/main.vue
  src/features/jobs/toolbar/index.ts
  src/features/jobs/toolbar/ui/JobsLocation.vue
  src/features/jobs/toolbar/ui/JobsSearch.vue
  src/features/jobs/toolbar/ui/JobsToolbar.vue
  src/features/jobs/toolbar/ui/index.ts
  src/features/user-dropdown/ui/UserDropdown.vue
  src/shared/types/ui.ts
  src/shared/ui/badge/types.ts
  src/shared/ui/button/BaseButton.vue
  src/shared/ui/button/index.ts
  src/shared/ui/button/types.ts
  src/shared/ui/forms/index.ts
  src/shared/ui/forms/input/FormInput.vue
  src/shared/ui/forms/input/index.ts
  src/shared/ui/forms/input/types.ts
  src/shared/ui/forms/select/BaseSelect.vue
  src/shared/ui/forms/select/index.ts
  src/shared/ui/forms/select/types.ts
  src/shared/ui/icons/MarkerIcon.vue
  src/shared/ui/icons/index.ts
  src/widgets/header/TheHeader.vue
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(changed): изменение типа роута
  src/app/providers/router/routes/auth.ts
  src/app/providers/router/routes/dashboard.ts
  src/app/providers/router/routes/events.ts
  src/app/providers/router/routes/history.ts
  src/app/providers/router/routes/jobs.ts
  src/app/providers/router/routes/schedule.ts
  src/app/providers/router/types.ts
  src/widgets/header/TheHeader.vue
Due: eslint --fix, prettier --write

feat: добавлен widget jobs
  public/image/temp/company-icon-1.png
  src/entities/jobs/index.ts
  src/entities/jobs/ui/index.ts
  src/entities/jobs/ui/item/JobsItem.vue
  src/entities/jobs/ui/item/index.ts
  src/features/jobs/favorite/index.ts
  src/features/jobs/favorite/ui/AddToFavourite.vue
  src/features/jobs/favorite/ui/index.ts
  src/pages/jobs/ui/JobsPage.vue
  src/shared/components/badge/BadgeInfo.vue
  src/shared/components/badge/index.ts
  src/shared/components/badge/types.ts
  src/shared/components/chip/ChipEmployment.vue
  src/shared/components/chip/index.ts
  src/shared/components/chip/types.ts
  src/shared/plugins/primevue.ts
  src/shared/ui/chip/BaseChip.vue
  src/shared/ui/chip/index.ts
  src/shared/ui/chip/types.ts
  src/shared/ui/icons/BaseIcon.vue
  src/shared/ui/icons/ClockIcon.vue
  src/shared/ui/icons/SearchIcon.vue
  src/shared/ui/icons/StarIcon.vue
  src/shared/ui/icons/index.ts
  src/shared/ui/icons/types.ts
  src/shared/ui/progress/spinner/ProgressSpinner.vue
  src/shared/ui/progress/spinner/index.ts
  src/widgets/jobs/index.ts
  src/widgets/jobs/list/index.ts
  src/widgets/jobs/list/ui/JobsList.vue
  src/widgets/jobs/list/ui/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: название иконки
  src/shared/ui/icons/TimeScheduleIcon.vue
  src/shared/ui/icons/index.ts
Due: eslint --fix, prettier --write

refactor: поправка стили JobsItem
  src/entities/jobs/ui/item/JobsItem.vue
  src/shared/ui/chip/BaseChip.vue
Due: none

feat: верстка компонента BaseSelect
  src/features/jobs/filters/index.ts
  src/features/jobs/filters/ui/JobsFilter.vue
  src/features/jobs/filters/ui/index.ts
  src/features/jobs/sorting/index.ts
  src/features/jobs/sorting/ui/JobsSorting.vue
  src/features/jobs/sorting/ui/index.ts
  src/features/jobs/toolbar/ui/JobsLocation.vue
  src/pages/jobs/ui/JobsPage.vue
  src/shared/plugins/primevue.ts
  src/shared/ui/forms/select/BaseSelect.vue
  src/shared/ui/forms/select/types.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: добавлен компонент BaseAccordion
  src/features/jobs/filters/ui/JobsFilter.vue
  src/features/jobs/filters/ui/TypeEmployment.vue
  src/features/jobs/filters/ui/index.ts
  src/features/jobs/sorting/ui/JobsSorting.vue
  src/shared/plugins/primevue.ts
  src/shared/ui/accordion/BaseAccordion.vue
  src/shared/ui/accordion/index.ts
  src/shared/ui/accordion/types.ts
Due: eslint --fix, prettier --write

feat: добавлен компонент FormCheckbox
  src/features/jobs/filters/ui/TypeEmployment.vue
  src/shared/plugins/primevue.ts
  src/shared/ui/forms/checkbox/FormCheckbox.vue
  src/shared/ui/forms/checkbox/index.ts
  src/shared/ui/forms/checkbox/types.ts
  src/shared/ui/forms/index.ts
Due: eslint --fix, prettier --write

feat: добавлен компонент фильтрации работы
  src/app/layouts/MainLayout.vue
  src/features/jobs/filters/ui/JobsFilter.vue
  src/features/jobs/filters/ui/LanguagesOptions.vue
  src/features/jobs/filters/ui/LocationOptions.vue
  src/features/jobs/filters/ui/SalaryRange.vue
  src/features/jobs/filters/ui/TypeLevel.vue
  src/features/jobs/filters/ui/index.ts
  src/shared/plugins/primevue.ts
  src/shared/types/ui.ts
  src/shared/ui/chip/BaseChip.vue
  src/shared/ui/forms/index.ts
  src/shared/ui/forms/slider/BaseSlider.vue
  src/shared/ui/forms/slider/index.ts
  src/shared/ui/forms/slider/types.ts
Due: eslint --fix, prettier --write

feat(package): установка graphql
  package-lock.json
  package.json
  src/app/index.ts
  src/shared/api/gql/client.ts
  src/shared/api/gql/index.ts
  src/shared/api/index.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/instance.ts
  src/shared/playground/JobsFilter.vue
  yarn.lock
Due: eslint --fix, prettier --write

feat: верстка страницы логин
  public/image/auth-banner-2.png
  public/image/auth-banner.png
  src/app/App.vue
  src/app/layouts/AuthLayout.vue
  src/app/layouts/MainLayout.vue
  src/entities/users/index.ts
  src/features/jobs/toolbar/ui/JobsToolbar.vue
  src/pages/auth/ui/AuthLoginPage.vue
  src/shared/plugins/primevue.ts
  src/shared/ui/forms/checkbox/FormCheckbox.vue
  src/shared/ui/forms/checkbox/types.ts
  src/shared/ui/forms/index.ts
  src/shared/ui/forms/input/FormInput.vue
  src/shared/ui/forms/password/FormPassword.vue
  src/shared/ui/forms/password/index.ts
  src/shared/ui/forms/password/types.ts
  src/shared/ui/icons/LockIcon.vue
  src/shared/ui/icons/MailIcon.vue
  src/shared/ui/icons/SmileIcon.vue
  src/shared/ui/icons/index.ts
Due: eslint --fix, prettier --write

feat(refactor): изменение типы авторизации
  src/entities/auth/model/index.ts
  src/entities/auth/model/stores.ts
  src/entities/auth/model/types.ts
  src/shared/api/supabase/index.ts
  src/shared/api/supabase/instance.ts
Due: eslint --fix, prettier --write
